 <div class="recent--patients" id="tableParent">
                <div class="title">
                    <h2 class="section--title" id="studentYear"></h2>
                    <button onclick="navigateToRegisterStudent()" class="add" id="addStudentBtn" style="visibility: hidden;"><i class="ri-add-line"></i>Add Student</button>
                </div>

              <div class="table">
                    <table>
                        <thead style="visibility: hidden;" id="tableHead">
                            <tr >
                                <th>Name</th>
                                <th>Mob </th>
                                <th>Dept/Year</th>
                                <th>Building Num</th>
                                <th>Room Type</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                           
                        </tbody>
                    </table>
                </div>


                
            </div>