
 <header>
      <div class="cdesc-container shadow-sm">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2 clogo text-center">
              
                <img src="Image/leftLogo.png" alt="mcet-alumni-logo">
             
            </div>
            
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8  cdesc">
                <h1>Murshidabad College of Engineering &amp; Technology</h1>
                <h3>A Center of Technological &amp; Professional Excellence. ESTD : 1998</h3>
                <h3><strong>Approved by AICTE | Affiliated to MAKAUT (WBUT) | Aided by Government of W. B. | Supported by Murshidabad Zilla Parishad (MZP)</strong></h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2 text-center ">
              
                <img class="collegeLogo" src="Image/collegeLogo.png"  alt="mcet-logo">
             
            </div>
        </div>
      </div>
    </header>