{{>searchStudentNavbar}}

<div class="studentDetailsCardContainer">
    {{!-- <div class="studentDetailsCard">
        <p>Name: <span>Manish Kumar</span></p>
        <p>Mobile Number: <span>7479863918</span></p>
        <p>Year: <span>3rd</span></p>
        <p>Department: <span>CSE</span></p>
        <p>Blood-Group: <span>AB+</span></p>
        <p>Aadhar Number: <span>990508732695</span></p>
        <p>Building Number: <span class="room">14A</span></p>
        <p>Room-Type: <span class="room">2-Seaters</span></p>
        <p>Father's Name <span>Sanjay Kumar Gupta</span></p>
        <p>Father's Mob Number: <span>9862700210</span></p>
        <p>Address: <span>Vill: Daulatpur Devariya, Hajipur, Vaishali, Bihar</span></p>


    </div> --}}
   

   
</div>