<div class="searchContainer">
  <select  id="searchMedium">
    <option>Year</option>
    <option>Blood-Group</option>
    <option>Building-Number</option>
    <option>Year/Department</option>
  </select>

  <div>
    <input id="searchingValue"  type="text" placeholder="searching..." />
    <button onclick="searchingStudent()">Go</button>
  </div>

</div>