<div id="seatAvailable">
  <div class="seatsAvailableHeaderContainer">
    <h1>Seats Availability</h1>
    <input id="seatSearchParameter" type="text" placeholder="Searching..." />
    <button onclick="checkSeatAvailability()">Go</button>
  </div>

  <div class="seatsAvailableContainer">

    <table>
      <tr>
        <th class="buildingNumber" id="upperRoom" colspan="4">Room Number: 14A</th>
      </tr>
      <tr>
        <th colspan="2">2-Seaters</th>
        <th colspan="2">3-Seaters</th>
      </tr>

      <tr>
        <td>
          <div>
            <p id="u2fName">Name: <span>Manish Kumar</span></p>
            <p id="u2fYear">Year: <span>3</span></p>
            <p id="u2fDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>
          </div>
        </td>
        <td>
          <div>
            <p id="u2sName">Name: <span>Manish Kumar</span></p>
            <p id="u2sYear">Year: <span>3</span></p>
            <p id="u2sDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div>
        </td>
        <td><div>
            <p id="u3fName">Name: <span>Manish Kumar</span></p>
            <p id="u3fYear">Year: <span>3</span></p>
            <p id="u3fDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div></td>
        <td><div>
            <p id="u3sName">Name: <span>Manish Kumar</span></p>
            <p id="u3sYear">Year: <span>3</span></p>
            <p id="u3sDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div></td>
      </tr>

      <tr>
        <th class="buildingNumber" id="lowerRoom" colspan="4">Room Number: 14</th>
      </tr>
      <tr>
        <th colspan="2">2-Seaters</th>
        <th colspan="2">3-Seaters</th>
      </tr>

      <tr>
        <td>
          <div>
            <p id="l2fName">Name: <span>Manish Kumar</span></p>
            <p id="l2fYear">Year: <span>3</span></p>
            <p id="l2fDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div>
        </td>
        <td>
          <div>
            <p id="l2sName">Name: <span>Manish Kumar</span></p>
            <p id="l2sYear">Year: <span>3</span></p>
            <p id="l2sDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div>
        </td>
        <td>
          <div>
            <p id="l3fName">Name: <span>Manish Kumar</span></p>
            <p id="l3fYear">Year: <span>3</span></p>
            <p id="l3fDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div>
        </td>
        <td><div>
            <p id="l3sName">Name: <span>Manish Kumar</span></p>
            <p id="l3sYear">Year: <span>3</span></p>
            <p id="l3sDept">Dept: <span>CSE</span></p>
            <h1 class="blankSeat">Blank</h1>

          </div></td>
      </tr>

    </table>

  </div>
 
</div>