<!DOCTYPE html>
<html lang="en">
<head>
   {{>metaData}}
   <link rel="stylesheet" href="dashboardStyle.css">
    <title>Dashboard</title>

    <link rel="stylesheet" href="formStyle.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
       
    {{!-- remixIcon CDN --}}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

    
      
    {{>dashboardHeading}}
    <section class="main">
        {{>slidbarNavigation}}
        <div class="main--content" >

            <div class="dashboardRightContent">
               {{>dashboardCard}}
            
               {{>dashboardTable}}
            </div>

            <div class="formContainer">
                {{>studentDetailsForm}}
            </div>
            
        </div>
    </section>

    <script src="dashboardjs.js"></script>

</body>
</html>