<!DOCTYPE html>
<html lang="en">
<head>
   {{>metaData}}
   <link rel="stylesheet" href="../../css/dashboardStyle.css">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../../css/formStyle.css">
    <link rel="stylesheet" href="../../css/searchStudentNavbarStyle.css">
    <link rel="stylesheet" href="../../css/setsAvailableContentStyle.css">
    <link rel="stylesheet" href="../../css/editStudentDetails.css">
    <link rel="stylesheet" href="../../css/modifyStudentDetails.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
     

    {{!-- remixIcon CDN --}}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

       
</head>
<body>

    
      
    {{>dashboardHeading}}
    <section class="main">
        {{>slidbarNavigation}}
        <div class="main--content" >

            <div class="dashboardRightContent">
               {{>dashboardCard}}
            
               {{>dashboardTable}}
            </div>

            <div class="formContainer">
                {{>studentDetailsForm}}
            </div>

            <div id="searchStudentContainer">
                {{>searchStudent}}
            </div>

            <div id="modifyStudentDetailsContainer">
                 {{>modifyStudentDetails}}
            </div>

            <div class="seatsAvailbableContentContainer">
                  {{>seatsAvailableContent}}
            </div>

            <div>
                {{>editStudentDetails}}
            </div>
            
        </div>
    </section>

      {{!-- jsPdf cdn --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <script src="../../js/dashboardJs.js"></script>
    <script src="../../js/searchStudent.js"></script>
    <script src="../../js/seatAvailableJs.js"></script>
    <script src="../../js/editStudentDetails.js"></script>
    <script src="../../js/modifyStudentDetails.js"></script>

</body>
</html>