<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaData}}
    <title>Home</title>
    <link
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      
    />
   
</head>
<body>
    {{!-- heading --}}
    {{>heading}}

    {{!-- hostel pic in carousel --}}
    {{>hostelImageInCarousel}}


  {{>login}}


    <div class="footer makeContentCenter">
        <p>@copy-right 2021-2022</p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"

    ></script>
    <script>

      const isValidUser = (passData , originalData) => {
        console.log(passData );
        console.log(originalData );
             return (passData.userId == originalData.userId && passData.password == originalData.password);
      }
       

       const login = async () => {
        
          try{
              const userId = document.getElementById("userId").value;
              console.log(typeof(userId))
              const password = document.getElementById("password").value;
              const data = {
                userId,
                password
              }

              const url = "http://localhost:8000/admin";

              const response = await fetch(url);

              const re̥sult = await response.json();
              {{!-- console.log("🚀 ~ file: index.hbs ~ line 59 ~ login ~ re̥sult", re̥sult) --}}
              const valid = isValidUser(data , re̥sult[0])
              if(valid) {
                window.location.href = "http://localhost:8000/dashboard"
              } else {
                alert("Invalid details");
              }


          }catch(err) {
            console.log(err);
          }
       }
       {{!-- const login = async () => {
        
          try{
              const userId = document.getElementById("userId").value;
              console.log("🚀 ~ file: index.hbs ~ line 37 ~ login ~ userId", userId)
              const password = document.getElementById("password").value;
              const data = {
                userId,
                password
              }

              const url = "http://localhost:8000/adminAuth";

              const response = await fetch(url , {
                method: 'POST',
                headers: {
                  "Content-type": "application/json"
                },
                body: JSON.stringify(data)
                
              })

              const re̥sult = await response.json();
              console.log("🚀 ~ file: index.hbs ~ line 59 ~ login ~ re̥sult", re̥sult)


          }catch(err) {
            console.log(err);
          }
       } --}}

    </script>
</body>
</html>