<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaData}}
    <title>Home</title>
    <link
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"   
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />

   
</head>
<body>
    {{!-- heading --}}
    {{>heading}}

    {{!-- hostel pic in carousel --}}
    {{>hostelImageInCarousel}}


  {{>login}}


    <div class="footer makeContentCenter">
        <p>@copy-right 2021-2022</p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"

    ></script>
    <script>
    toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-center",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

      const isValidUser = (passData , originalData) => {
        console.log(passData );
        console.log(originalData );
             return (passData.userId == originalData.userId && passData.password == originalData.password);
      }
       

       const login = async () => {
          try{
            toastr.info("Please wait...")
              const userId = document.getElementById("userId").value;
              const password = document.getElementById("password").value;
              const data = {
                userId,
                password
              }
              
              const url = "/admin";
              const response = await fetch(url);
              const re̥sult = await response.json();

              const validUserData = re̥sult.filter((originalData) => {
                   return (data.userId == originalData.userId && data.password == originalData.password);

              })

              console.log(validUserData[0])

              {{!-- console.log("🚀 ~ file: index.hbs ~ line 59 ~ login ~ re̥sult", re̥sult) --}}
              {{!-- const valid = isValidUser(data , re̥sult[0]) --}}

              if(validUserData.length > 0) {
                sessionStorage.setItem("auth", JSON.stringify(validUserData));
                {{!-- window.location.href = `/dashboard` --}}
                toastr.success("Login Successful")
                window.location.href = `/dashboard/${validUserData[0].hostelType}`
              } else {
                 toastr.option = {
                      "positionClass": "toast-top-center",
                 }
                toastr.error("Invalid details");
              }


          }catch(err) {
            console.log(err);
          }
       }
    </script>
</body>
</html>