<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaData}}
    <title>Home</title>
    <link
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      
    />
   
</head>
<body>
    {{!-- heading --}}
    {{>heading}}

    {{!-- hostel pic in carousel --}}

    {{>hostelImageInCarousel}}

    <div class="footer makeContentCenter">
        <p>@copy-right 2021-2022</p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    ></script>
</body>
</html>