<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="studentDetailsPageTitle">Document</title>
    <style>
     * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.printFormateStudentDetailsContainer {
  border: 2px solid black;
  margin: 2px;
  padding-bottom: 10px;
}
.printFormateStudentDetailsContainer .printFormateHeading {
  position: sticky;
  top: 0px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
  color: #07abb1;
  text-shadow: 1px 3px 4px #3ff560;
  font-weight: 800;
}
.printFormateStudentDetailsContainer table th,
.printFormateStudentDetailsContainer table td {
  padding: 10px;
  text-align: center;
}
.printFormateStudentDetailsContainer table th {
  font-size: 1.2rem;
  background-color: #1d96b2;
  color: white;
}
.printFormateStudentDetailsContainer table td {
  font-size: 1rem;
  font-weight: 550;
  border: 1px solid grey;
  border-radius: 3px;
}
.printFormateStudentDetailsContainer table tr:nth-child(odd) {
  background-color: #90ee90;
}
#particularYearStudentDetailsTableContentHeader {
  position: sticky;
  top: 55.3px;
  background-color: rgb(237, 221, 83);
}

@media screen and (max-width: 900px) {
  .printFormateStudentDetailsContainer {
    border:none;
    margin: 0px;
  }
}

    </style>
  </head>
  <body>
      <div class="printFormateStudentDetailsContainer">
        
        <table id="studentDetailsTable">
            <caption class="printFormateHeading"><span>{{year}}</span> year Student</caption>
            <tr id="particularYearStudentDetailsTableContentHeader">
                <th>S-No</th>
                <th>Name</th>
                <th>Mob Number</th>
                <th>Father's Name</th>
                <th>Father's Mob</th>
                <th>Email</th>
                <th>Building Details</th>
                <th>Blood Group</th>
                <th>Address</th>
            </tr>

        </table>
    </div>

    <script>
const studentDetailsTable = document.getElementById("studentDetailsTable");
const printFormateHeading = document.getElementsByClassName(
  "printFormateHeading"
)[0];
const year = printFormateHeading.firstChild.innerText;

{{!-- set table caption --}}

if(year === "1") {
  printFormateHeading.innerText = "1st year Student Details"
} else if(year === "2") {
  printFormateHeading.innerText = "2nd year Student Details"
} else if(year === "3") {
  printFormateHeading.innerText = "3rd year Student Details"
} else if(year === "4"){
  printFormateHeading.innerText = "4th year Student Details"
}
const currentYear = new Date().getFullYear();
studentDetailsPageTitle.innerText = `${year}Year${currentYear}StudentDetails`;
const fetchStudentDataOfParticularYear = async () => {
  const url = `https://mcet-hms.herokuapp.com/student/${year}`;
  const response = await fetch(url);
  let result = await response.json();
  result = result.filter((data) => {
    return data.gender == "Male";
  });
  console.log(result);
  result.map((studentData, idx) => {
    addPaticularStudentDetials(studentData, idx + 1);
    return;
  });
};
fetchStudentDataOfParticularYear();

const addPaticularStudentDetials = (studentData , snum) => {
  console.log(studentData);
  const tr = document.createElement("tr");
  const markup = `<td>${snum}</td><td>${studentData.name}</td>
      <td>${studentData.mob}</td> <td>${studentData.fathersName}</td>
      <td>${studentData.fathersMob}</td> <td>${studentData.email}</td>
       <td>${studentData.buildingNumber} 
      ${studentData.roomType}</td> <td>${studentData.bloodGroup}</td>
      <td>${studentData.address}</td>`;
  tr.innerHTML = markup;
  studentDetailsTable.appendChild(tr);
};

      
    </script>
  </body>
</html>